body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #7cbf64;
}

.login-container {
  background-color: white;
  max-width: 400px;
  margin: 60px auto;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.titulo {
  text-align: center;
  font-size: 2.2rem;
  color: #2e7d32;
  margin-bottom: 5px;
}

.subtitulo {
  text-align: center;
  color: #555;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #43a047;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #388e3c;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 8px;
  margin-bottom: 10px;
}

.options a {
  color: #1b5e20;
  text-decoration: none;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #777;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.facebook-btn,
.google-btn {
  flex: 1;
  padding: 10px;
  font-size: 0.95rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.facebook-btn {
  background-color: #3b5998;
  color: white;
}

.google-btn {
  background-color: #db4437;
  color: white;
}

.criar-conta {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}
.criar-conta a {
  color: #2e7d32;
  text-decoration: none;
}